/* fonts insert */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* body style */
* {
    margin: 0;
    padding: 0;
}

.primary_font {
    font-family: Merriweather;
}

.secondary_font {
    font-family: Inter;
}

/* banner section style */
.banner,
.welcome_banner {
    width: 90%;
    height: 600px;
    margin: 47px auto 20px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211, #07021100), url('./images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.banner .banner_text {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding: 180px 400px 16px 400px;

}

.banner .banner_heading {
    width: 632px;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    padding: 0px 280px;
}

/* sales_announcement section style */
.sales_announcement {
    width: 90%;
    margin: 20px auto;
}

.sales_announcement .sales_percent {
    margin-top: 120px;
    padding: 0px auto;
    text-align: center;
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}

.sales_announcement p {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 48px;
    margin-bottom: 16px;
}

.sales_announcement h4 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.sales_announcement img {
    width: 56%;
    height: auto;
    margin-bottom: 120px;
}

/* welcome banner section styles */
.welcome_banner {
    background: linear-gradient(90deg, #070211, #07021700), url('./images/Vectorrr.png');
    background-size: 100% 100%;
    display: flex;
    margin-bottom: 120px;
}

.welcome_banner .text_section {
    width: 720px;
}

.welcome_banner .text_section h2,
.welcome_banner .text_section p {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 84px;
    letter-spacing: 2px;
    padding-top: 118px;
    padding-left: 118px;
}

.welcome_banner .text_section p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 24px;
    text-align: justify;
    margin-bottom: 50px;
}

input {
    background-color: #F00;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    margin-left: 118px;
    border: none;
    border-radius: 16px;
}

input:hover {
    background-color: rgba(255, 0, 0, 0);
    color: #F00;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 30px;
    margin-left: 118px;
    border: 2px solid #F00;
}

.welcome_banner .img_section {
    width: 255px;
    height: 400px;
    padding: 70px 165px 70px 95px;
}

/* party details section style */
.party_details {
    width: 90%;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00));
    margin: 20px auto;
    border-radius: 16px;
    text-align: center;
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 120px;
}

.party_details p:first-child {
    padding-top: 100px;
}

.party_details p span {
    color: #F00;
}

/* offer section styles */
.offer {
    width: 90%;
    height: auto;
    margin: 20px auto;
    display: flex;
    margin-bottom: 120px;
}

.offer .best_offer h4 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-top: 104px;
    margin-bottom: 15px;
}

.offer .best_offer h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.offer .best_offer p {
    width: 400px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    padding-right: 30px;
}

.offer .offer_img {
    width: 300px;
    height: 300px;
    border: 15px solid #F00;
    border-radius: 300px;
    background-clip: content-box;
    padding: 50px;
    margin-right: 30px;
}

.offer .offer_img img {
    width: 300px;
    height: 300px;
}

.offer .new_year_offer h2 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    padding-top: 90px;
    margin-bottom: 15px;
}

.offer .new_year_offer p {
    width: 250px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 30px;
}

.offer .new_year_offer img {
    width: 110px;
    height: 110px;
}

/* offer details section style */
.offer_details {
    width: 90%;
    height: auto;
    margin: 20px auto;
}

.offer_details p {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
}

.offer_details h2 {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

.offer_details h2 span {
    color: #F00;
}

.offer_details .offer_details-text {
    width: 80%;
    margin: 0px auto 64px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.offer_details .offer_details_img {
    height: 600px;
    display: flex;
    background-image: url(./images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    margin-bottom: 120px;
}

.offer_details .offer_details_img :first-child {
    width: 700px;
    height: 550px;
}

.offer_details .offer_details_img :nth-child(2) {
    width: 400px;
    height: 400px;
    position: absolute;
    right: 5%;
    padding-bottom: 10%;
}

.offer_details .offer_details_img :last-child {
    width: 200px;
    height: 200px;
    position: absolute;
    padding-top: 10%;
    right: 28%;
}

/* portfolio section styles */
.portfolio {
    width: 90%;
    height: auto;
    margin: 0px auto;
}

.portfolio h4 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px
}

.portfolio h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px
}

.portfolio p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.portfolio .portfolio_img {
    display: inline-flexbox;
    margin-bottom: 120px;
}

.portfolio .portfolio_img img {
    width: 350px;
    height: 380px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.portfolio .portfolio_img img:nth-child(3),
.portfolio .portfolio_img img:last-child {
    padding-right: 0px;
}

/* newsletter section styles */
.newletter {
    width: 90%;
    height: 616px;
    margin: 0px auto 120px;
    border-radius: 16px;
    background-color: #ff00000d;
    text-align: center;
    margin-bottom: 120px;
}

.newletter img {
    width: 150px;
    height: 150px;
    padding-top: 80px;
}

.newletter h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    padding-top: 40px;
}

.newletter p {
    width: 890px;
    margin: 0px auto;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 22px;
    margin-bottom: 48px;
}

.newletter .subscribe_input {
    display: flex;
    position: absolute;
    padding-bottom: 200px;
    padding: 0px 150px;
}

.newletter .subscribe_input #subscribe_email {
    width: 600px;
    height: 60px;
    border-radius: 50px;
    background-color: #FFF;
    justify-content: center;
    text-align: left;
    color: #070211;
}

.newletter .subscribe_input #subscribe_email ::placeholder {
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.newletter .subscribe_input #subscribe_submit {
    width: 210px;
    height: 90px;
    border-radius: 0px 50px 50px 0px;
    background-color: #F00;
    position: absolute;
    right: 14%;
}

.newletter .subscribe_input #subscribe_submit:hover {
    background-color: rgba(255, 0, 0, 0.534);
    color: #FFF;
}

/* footer section styles */
footer {
    width: 100%;
    height: 600px;
    background: #070211;
}

footer .up {
    display: flex;
    margin-bottom: 50px;
}

footer .up .address {
    width: 375px;
    height: 80px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-top: 120px;
    padding-left: 140px;
}

footer .up .contact_info .call,
footer .up .contact_info .web {
    display: flex;
}

footer .up .contact_info .call,
footer .up .contact_info .web {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

footer .up .contact_info .call img,
footer .up .contact_info .web img {
    width: 24px;
    height: 24px;
}